@font-face {
    font-family: 'SofiaPro';
    font-weight: 300;
    src: url('../../public/assets/fonts/351114_1_0.eot');
    src: url('../../public/assets/fonts/351114_1_0.eot?#iefix') format('embedded-opentype'),
    url('../../public/assets/fonts/351114_1_0.woff2') format('woff2'),
    url('../../public/assets/fonts/351114_1_0.woff') format('woff'),
    url('../../public/assets/fonts/351114_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'SofiaPro';
    font-weight: 700;
    src: url('../../public/assets/fonts/351114_0_0.eot');
    src: url('../../public/assets/fonts/351114_0_0.eot?#iefix') format('embedded-opentype'),
    url('../../public/assets/fonts/351114_0_0.woff2') format('woff2'),
    url('../../public/assets/fonts/351114_0_0.woff') format('woff'),
    url('../../public/assets/fonts/351114_0_0.ttf') format('truetype');
}