@reference "../styles/index.css";

.markdown {
  @apply text-base md:text-xl;
}

.markdown a[target="_blank"] {
  @apply inline-flex items-start gap-1;
}

.markdown a[target="_blank"]::after {
  @apply w-3 h-3 shrink-0 bg-current;
  content: "";
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M10 6L10 8 22.59 8 6 24.59 7.41 26 24 9.41 24 22 26 22 26 6 10 6z'/%3E%3C/svg%3E") no-repeat center / contain;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M10 6L10 8 22.59 8 6 24.59 7.41 26 24 9.41 24 22 26 22 26 6 10 6z'/%3E%3C/svg%3E") no-repeat center / contain;
}

.markdown p,
.markdown blockquote {
  @apply my-6 leading-relaxed lg:my-10;
}


.markdown h2,
.markdown h3 {
  @apply font-light font-serif tracking-tight leading-tight;
}

.markdown h2 {
  @apply text-2xl mt-14 mb-10 md:text-3xl;
}

.markdown h3 {
  @apply text-xl mt-8 lg:mt-14 mb-4;
}

.markdown h2:first-child,
.markdown h3:first-child {
  @apply mt-0;
}

.markdown h2 span {
  @apply block font-sans font-bold text-lg mb-4 opacity-60;
}

.markdown ul,
.markdown ol {
  @apply marker:text-teal-500 list-disc list-outside ps-8 leading-relaxed mt-6 mb-0 space-y-2 md:ps-10 lg:mt-10 lg:space-y-6;
}

.markdown pre {
  @apply rounded-xl bg-slate-950 p-6 my-6 lg:my-10 overflow-x-auto;
}

.markdown pre code {
  @apply text-sm md:text-base font-mono text-slate-50 block;
}

.markdown img {
  @apply h-auto max-w-full mb-0 rounded-xl w-full transition-opacity duration-700 ease-in-out;
}

.markdown img.lazy-loaded {
  opacity: 1 !important;
}

.markdown img + em {
  @apply block font-serif mt-4 mb-10 not-italic text-base text-gray-400;
}